DATABASE_URL="postgres://postgres:klinPi@localhost:5432/postgres"
JWT_SECRET="YOUR_JWT_SECRET"
NEXT_PUBLIC_API_URL="http://localhost:3100"
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_USERNAME="klinpi"
REDIS_PASSWORD="klinpi"
GITHUB_CLIENT_ID="your_github_client_id"
GITHUB_CLIENT_SECRET="your_github_client_secret"
GITHUB_REDIRECT_URL="http://localhost:3100/api/v1/oauth/github/callback"
OPENROUTER_API_KEY="YOUR_API_KEY"
E2B_API_KEY="YOU_E2B_API_KEY"

OLLAMA_BASE_URL="http://localhost:11434"
CHAT_MODEL="qwen3:4b"
EMBEDDING_MODEL="qwen3-embedding:latest"
EMBEDDING_DIMENSION=1024