DATABASE_URL="postgres://postgres:klinPi@localhost:5432/postgres"
JWT_SECRET="YOUR_JWT_SECRET"
NEXT_PUBLIC_API_URL="http://localhost:3100"
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_USERNAME="klinpi"
REDIS_PASSWORD="klinpi"
GITHUB_CLIENT_ID="your_github_client_id"
GITHUB_CLIENT_SECRET="your_github_client_secret"
GITHUB_REDIRECT_URL="http://localhost:3100/api/v1/oauth/github/callback"