DATABASE_URL="postgres://postgres:klinPi@localhost:5432/postgres"
JWT_SECRET="YOUR_JWT_SECRET"
NEXT_PUBLIC_API_URL="http://localhost:3100"
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_USERNAME="klinpi"
REDIS_PASSWORD="klinpi"