node_modules
.pnpm-store
*.tsbuildinfo
.env
AGENTS.md
readAgent.md

platform/prisma/node_modules
platform/prisma/dist
platform/prisma/src/generated

platform/redis/dist
platform/redis/node_modules

platform/common/node_modules
platform/common/dist

packages/gateway/node_modules
packages/gateway/dist

packages/realtime/node_modules
packages/realtime/dist

